.btn {
	background-color: #EEE;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-style: solid;
	display: inline-block;
	background-image: -webkit-linear-gradient(top,
		#FFF,
		#E6E6E6
	);
	padding: 8px 16px;
	text-shadow: 1px 1px 0 #EEE;
	color: #333;
	font-size: 24px;
	line-height: 24px;
	border-radius: 6px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 
	            inset 0 -1px 0 rgba(0,0,0,.2), 
	            0 1px 2px rgba(0,0,0,.25);
	text-decoration: none;
}
.btn:hover {
	color: #555;
}
.btn.primary { 
	background-image: -webkit-linear-gradient(top,
		#62C462,
		#51A351
	);
	color: #fff;
	text-shadow: 1px 1px 0 #387038;
}

/* MISC
*************************/
body { background: #9fbfd6; }
.btn {
	margin: -45px 0 0 -100px;
	position: absolute;
		top: 50%;
		left: 50%;
}